{{ 'feature-hover.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="color-{{ section.settings.color_scheme }}">
  <div class="page-width section-{{ section.id }}-padding feature-hover-width">
    <div class="feature-hover" {{ block.shopify_attributes }}>
      {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'product' -%}
              {% render 'card-simple-product',
                card_product: block.settings.product,
                product_image_alt: block.settings.product_image_alt,
                product_title_alt: block.settings.product_title_alt,
                product_image_size: block.settings.product_image_size
              %}
            {%- when 'inline-ad' -%}
              {% render 'inline-ad',
                inline_ad_headline: block.settings.inline_ad_headline,
                inline_ad_link: block.settings.inline_ad_link,
                inline_ad_image: block.settings.inline_ad_image,
                inline_ad_type: block.settings.inline_ad_type,
                color_scheme_headline: block.settings.color_scheme_headline
              %}
          {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Feature Hover",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "default",
      "label": "Default"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        },
        {
           "type": "text",
           "id": "product_title_alt",
           "label": "Alternate Product Title"
        },
        {
          "type": "image_picker",
          "id": "product_image_alt",
          "label": "Alternate Product Image"
        },
        {
            "type": "range",
            "id": "product_image_size",
            "min": 40,
            "max": 150,
            "step": 5,
            "unit": "px", // this adds the px label to the admin but not the value
            "label": "Image size",
            "default": 100 // has to be a number available to step range, so in this case divisible by 5 & not bigger than 100
        }
      ]
    },
    {
      "type": "inline-ad",
      "name": "Inline Ad",
      "settings": [
      {
        "type": "select",
        "id": "color_scheme_headline",
        "options": [
          {
            "value": "default-headline",
            "label": "Default"
          },
          {
            "value": "inverse-headline",
            "label": "Inverse"
          }
        ],
        "default": "default-headline",
        "label": "Default"
      },
      {
         "type": "text",
         "id": "inline_ad_headline",
         "label": "Ad Headline"
      },
      {
      	"type": "url",  
        "id": "inline_ad_link",
        "label": "Ad Link"
      },
      {
        "type": "image_picker",
        "id": "inline_ad_image",
        "label": "Ad Image"
      },
      {
         "type": "select",
         "id": "inline_ad_type",
         "options": [
            { "value": "only-ad", "label": "One Ad"},
            { "value": "two-ads-left", "label": "Two Ads Left"},
      			{ "value": "two-ads-right", "label": "Two Ads Right"}
         ],
         "label": "One Ad"
      }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Featured Hover",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "inline-ad"
        }
      ]
    }
  ]
}
{% endschema %}